# Requires apache 2.4
ErrorDocument 404 /404.html

RewriteEngine On

RewriteCond %{QUERY_STRING} !^$
RewriteRule ^(.*)$ %{REQUEST_URI}%%33F%{QUERY_STRING}? [END,QSD]

<Files *.css*>
    ForceType text/css
</Files>

<Files *.js*>
    ForceType application/javascript
</Files>
